@page "/getintouch"
@* @model StoreApp.Pages.ContactModel
@{
} *@


<div class="text-center border my-5 rounded shadow">
	<div class="display-6 my-3">Contact</div>

	<div class="lead my-3"><i class="fa fa-phone text-primary my-3"></i><p>Alo 120</p>  </div>
	@* <div class="display-6 my-3">Adres</div> *@

	<div class="lead my-3"><i class="fa fa-road text-primary my-3"></i><p>6405 sk </p>  </div>
	@* <div class="display-6 my-3">E mail</div> *@

	<div class="lead"><i class="fa fa-envelope text-primary my-3"></i><p>asdasd@mail.com</p>  </div>
</div>

